<style type="text/css">
</style>


<title> Todo | Home </title>

<img src="https://farm8.staticflickr.com/7029/6783298985_9abf5ac5f5_o.jpg" id="bg" alt="notebook">

<h1 id="welcome"> Welcome </h1>

<div class="jumbotron text-center">
  <h1>Todo</h1>
  <p class="lead">
    it's where you go to get stuff done
  </p>
  <p>
    <a class="btn btn-lg btn-info" href="/tasks" role="button">View My List</a>
  </p>
</div>
   





