<div class="pcontainer-fluid">
  <div class="row">
    <div class="col-md-3"><h1>Todo</h1></div>
    <div class="col-md-9"><h1><small>where you go to get things done</small></h1></div>
  </div>
</div>