<title>Todo | Show Task</title>

<h1>I need to...</h1>

<p>TITLE: <%= @task.title %></p>

<p>LOCATION: <%= @task.location %></p>

<p>COMPLETED: <%= @task.completed %></p>

<p>DUE_AT: <%= @task.due_at %></p>